body{
    font-family:"Encode Sans",Arial,sans-serif;
    font-style:normal;
    font-size:  1rem;
    background-color:#efeaeaf1; 
    justify-content: space-between;
}


.boxModeling {
    display: block;
    width: 100%;
    margin: 0; 
    padding: 0;
    border: 1px solid black;
}


.titulos{
    font-size: 1,2rem;
    font-weight: bold;
    font-style:initial;
    text-align: center;
}

ul li{
    margin: 5px;
}

.letraNegrita{ 
    font-weight: bold;
    text-align: left;
}

.imagenPrincipal{
    background-image: url(aprender2021.jpg);
    border-radius:15px;
    height: 15vw;
    width: 100vw;
}

.flexContainer {
    display: flex;
}


.flexDireccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.enlaceResultados{   
    background-position: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    width: 90%;
}


.barraNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #6dadf5, #84d5f0);
    color: #FFF;
    height: 7%;
    padding: 0 10px;
    position: fixed;
    top:0;
    width: 100%;
}

.infoBarra{
    color: black;
    padding: 3vw;
    text-decoration: nav();
}

.formatoDiv {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 10vw;
    width: 110%;
}

.imagenesDos{ 
    background-image: url(carpetaicono.jpg);
    background-image: url(comosecreanlaspruebas.jpg);
    background-image: url(difderesultados.jpg);
    background-image: url(inforeleva.jpg);
    width: 10vw;
}

.imagenFondo {
    background-image: url(../images/aprender.jpg);
    position: fixed;
}

.columna {
    display: flex;
    flex-direction: row;
}

.colorFormulario {
    color: #2CB9EE;
}

#miBoton {
    position: center;

}

.formularioFormato{
    display: inline-block;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}


@media (min-width: 401px) and (max-width:768) and (orientation: landscape) {
    *{
        font-size: 10px;
        text-align: center;
    }

    .barraNav {
        height: 60px;
        padding: 0 15px;
    }
    .infoBarra{
        color: black;
        padding: 10px;
    }

    ul li{
        margin: 10px;
    }

    .titulos{
        font-size: 15px;
        font-weight: bold;
        font-style:initial;
        text-align: center;
    }

    .flexDireccion {
        min-width: 401px;
        max-width: 768px;
    }

}

@media  (min-width: 769px) and (max-width:1339px) and (orientation: landscape){
    *{
        font-size: 16px;
    }

    .barraNav{
    height: 80px;
    }

    .imagenPrincipal{
        background-image: url(aprender2021.jpg);
        width: 100%;
    }
    ul li{
        margin: 15px;
    }

    .flexDireccion {
        min-width: 769px;
        max-width: 1339px;
    }
}


@media (max-width: 1440px) and (orientation: landscape) {
    *{
        font-size: 2vw;
    }


    .barraNav {
        height: 5%;
    }

    .infoBarra{
        color: black;
    }

    .titulos{
        font-size: 40px;
        font-weight: bold;
        font-style:initial;
        text-align: center;
    }

    .flexDireccion{
        max-width: 1440px;
    }

    p{
        width: 100%;
    }
}

