body{
    background-color:#efeaeaf1; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 1rem;
}

.boxModeling {
    display: block;
    border: 0 solid black;
    margin: 1px; 
    padding: 10px 0;
    width: 100%;
}

.titulos{
    font-size: 1,2rem;
    font-weight: bold;
    font-style:initial;
    text-align:center;
}

.parrafo {
    margin-left: 10%;
    width: 70%;
}

.letraNegrita{ 
    font-weight: bold;
    text-align: left;
}

.imagenPrincipal{
    background-image: url(aprender2021.jpg);
    border-radius:15px;
    height: 15vw;
    width: 100%;
}

.flexContainer {
    display: flex;
}

.flexDireccion{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.enlaceResultados{   
    background-position: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}

.barraNav {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #6dadf5, #84d5f0);
    color: #FFF;
    height: 8%;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%;
}

.infoBarra{
    color: black;
    padding: 3vw;
    text-decoration: nav();
}

.formatoDiv {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 10vw;
    width: 100%;
}

.piePagina{
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

section{
    display: block;
    padding: 30px 0;
}

.marginP{
    margin-bottom: 40px;
}

/*revisar*/
.panelPiepagina {  
    box-sizing: border-box;
    font-size: 1,4em;
    font-weight: 700;
    line-height: 1.1;
    margin: 0,5em 0  0,7em 0;
}

.social-share{
    margin: 0;
    min-height: 32px;
    overflow: auto;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none; 
}

.iconosRedes{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
}

.iconoFace{
    content: "\f61b";
}

.posicionIconos{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: 1px;
}
/*hasta aca*/

.imagenesDos{ 
    background-image: url(carpetaicono.jpg);
    background-image: url(comosecreanlaspruebas.jpg);
    background-image: url(difderesultados.jpg);
    background-image: url(inforeleva.jpg);
    width: 10vw;
}

.imagenFondo {
    background-image: url(../images/aprender.jpg);
    position: fixed;
    top: 0;
}

.colorFormulario {
    color: #00EE;
    float: right;
    text-align: left;
}

#miBoton {
    position: center;
}

.formularioFormato{
    display: inline-block;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

@media (min-width: 401px) and (max-width:768) and (orientation: landscape) {
    .titulos{
        font-size: 15px;
        font-weight: bold;
        font-style:initial;
        text-align: center;
    }

    .flexDireccion {
        min-width: 401px;
        max-width: 768px;
    }

}

@media  (min-width: 769px) and (max-width:1339px) and (orientation: landscape){
    .imagenPrincipal{
        background-image: url(aprender2021.jpg);
        width: 100%;
    }
    ul li{
        margin: 15px;
    }

    .flexDireccion {
        min-width: 769px;
        max-width: 1339px;
    }
}


@media (max-width: 1440px) and (orientation: landscape) {

    body{
        font-size: 5vw;
        line-height: 2rem;
    }

    .titulos{
        font-size: 40px;
        font-weight: bold;
        font-style:initial;
        text-align: center;
    }

    .flexDireccion{
        max-width: 1440px;
    }

    .parrafo {
        margin-left: 5%;
        text-align:justify;
    }
}

