*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
body{
    margin: 20px;
    padding: 10px;
    border: 3px dashed salmon;
}

body h1{
    color: #55b1e6;
}

section article p{
    color: #eb7070c8;
}

section article h1{
    color: aquamarine;
}

.decorarTexto{
text-decoration: dashed; 
}


div {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 110px;
    overflow: hidden;
}

div{
    color: green;
}

.flex-container{
    display: flex;
}

span a{
    margin-left: 20px;
}

@media (min-width:400px) and (max-width: 768px) {
    body{ margin: 20px;
        padding: 10px;
        border: 3px dashed salmon;
    }
}

@media ( min-width:768px) and (max-width: 900px) {
    body { margin: 20px;
        padding: 10px;
        border: 3px dashed salmon;
}
}